# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyxc.config
build/
dist/

# dependencies
node_modules
jspm_packages
/.pnp
.pnp.js

# testing
/coverage
/playwright-report/
/test-results/

# next.js
/.next/
/out/

# production
/build
/build-scripts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# Serverless directories
# .serverless
.serverless_nextjs

# Sentry
.sentryclirc
