/*
  Based on: https://fonts.google.com/specimen/Roboto+Slab?query=Roboto&selection.family=Barlow:wght@400;600;700|Roboto+Slab:wght@400;500&sidebar.open 

  */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Roboto+Slab:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "RobotoSlab", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafcff;
}
