/*
  Based on: https://fonts.google.com/specimen/Roboto+Slab?query=Roboto&selection.family=Barlow:wght@400;600;700|Roboto+Slab:wght@400;500&sidebar.open
  */

/* TODO: use local font? */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&family=Roboto+Slab:wght@400;500&display=swap");
@import 'bootstrap/dist/css/bootstrap.css';

/* @import "bootstrap/dist/css/bootstrap-reboot.css"; */
/* input { */
/*   all: unset; */
/* } */

html,
body {
  /* TODO: Should this be the default font or maybe Roboto Slab? */
  font-family: "Barlow", sans-serif;
}

* {
  /* NOTE: emulate React native defaults */
  flex-direction: column;
  align-content: flex-start;
  flex-shrink: 0;
}

/* Animations */
/* TODO: replace with react-spring? */
.bounza {
  animation: bounza_frames 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounza_frames {
  0% {
    transform: translate(0, 0);
  }

  2.54237% {
    transform: translate(10px, 0);
  }

  5.08475% {
    transform: translate(0, 0);
  }

  7.62712% {
    transform: translate(5px, 0);
  }

  10.16949% {
    transform: translate(0, 0);
  }

  12.71186% {
    transform: translate(5px, 0);
  }

  15.25424% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
